body{
 
    text-align:"justify";
    background-size: 100%;
    background-attachment: fixed;
    margin: 10%;
    }
    table, th, td{
    border: 10% solid #008080;
    border-collapse: collapse;
    }
    th, td{
    color: rgb(255, 255, 255);
    font-family:"Times New Roman";
    }
    H1{
    color: #008080;
    font-family: "Times New Roman";
    font-size: 180%;
    }
    H2{
    color: #f4ffff;
    font-family: "Times New Roman";
    font-size: 150%;
    }
    p{
    font-family: "Times New Roman";
    color: rgb(255, 255, 255);
    font-size: 120%;
    text-align: justify;
    }
    img {
        margin: 0.5%;
        box-shadow: 3px 3px 5px #000000;
     } 
    a{
        color: #d9f1f1;
        font-size: 120%;
        text-align:justify;
    }
    center{
        font-family: "Times New Roman";
    color: rgb(255, 255, 255);
    font-size: 120%;
    
    }
    li{
        color: rgb(255, 255, 255);
    }



    * {
        margin:0px;
        padding:0px;
    }
    
    #header {
        margin:auto;
        margin-left: 35%;
        width:500px;
        font-family:Arial, Helvetica, sans-serif;
        
    }
    
    ul, ol {
        list-style:none;
    }
    
    .nav > li {
        float:left;
    }
    
    .nav li a {
        background-color:#000;
        color:#fff;
        text-decoration:none;
        padding:10px 12px;
        display:block;
    }
    
    .nav li a:hover {
        background-color:#434343;
    }
    
    .nav li ul {
        display:none;
        position:absolute;
        min-width:140px;
    }
    
    .nav li:hover > ul {
        display:block;
    }
    
    .nav li ul li {
        position:relative;
    }
    
    .nav li ul li ul {
        right:-140px;
        top:0px;
    }